a {
	text-decoration: underline ;
}

label {
	font-weight: normal;
	margin-bottom: 0px;
}


.ace_editor { 
	height: 200px; 
}

.pointer {
	cursor:pointer;
}

a.grey-hover:hover {
	background-color:#ccc;
}