<div class="w3-container w3-card-4 w3-light-grey w3-text-theme ">
    <br>
    Your connection string:
    <div class="w3-right w3-small">
        <a href='#' ng-class="{'w3-disabled': $ctrl.shared.isProgress()}" ng-click="$ctrl.setMy()">My</a>&nbsp;
        <a href='#' ng-class="{'w3-disabled': $ctrl.shared.isProgress()}" ng-click="$ctrl.setDemo()">Demo</a>&nbsp;
        <a href="https://mlab.com/" ng-class="{'w3-disabled': $ctrl.shared.isProgress()}" target="_blank">New</a>
    </div>
    <br>
    <table style="width:100%">
        <tr>
            <td style="width:100%">
                <input ng-model="$ctrl.shared.db.connectionString" 
                       style="width:100%;height:30px" 
                       ng-class="{'w3-disabled': $ctrl.shared.isProgress()}"
                       class="w3-text-black w3-small" placeholder="connection string"/>
            </td>
            <td>
                <a class="w3-btn w3-theme w3-small" ng-class="{'w3-disabled': $ctrl.shared.isProgress()}" ng-click="$ctrl.connect()" style="height:30px">Connect</a>
            </td>
        </tr>
    <table>
    
    <div class="w3-left w3-tiny w3-text-red">
        <span ng-show="$ctrl.shared.connectProgress" class="w3-text-theme">
            <i class="fa fa-refresh fa-spin"></i>
        </span>
        <span ng-show="$ctrl.shared.db.inventory" class="w3-text-theme">Connected </span>
        <span>{{$ctrl.error}}</span>
    </div> 
    <div class="w3-right w3-tiny" >
        <input ng-model="$ctrl.remember" type="checkbox">
        <label class="w3-text-theme w3">Remember as My</label>
    </div>
    <br>
    <br>
</div>
