
<div class='w3-row-padding'>
    <div class='w3-col w3-quarter'>
        <ul class="w3-ul w3-card-4 w3-hoverable">
            <li 
                ng-repeat="query in $ctrl.shared.db.inventory.queries | orderBy: query.name"
                ng-class="{'w3-theme': $index == $ctrl.shared.selectedQuery}"]
                ng-click="$ctrl.shared.selectedQuery = $index" 
                >
                {{query.name}}
                <span 
                    ng-click="$ctrl.deleteQuery($index)" 
                    class="w3-closebtn w3-margin-right w3-medium"
                    >
                    &times;
                </span>
            </li>
        </ul>
        <br>
        <a class="w3-btn w3-theme w3-card-4"  ng-click="$ctrl.addQuery()" style="width:100%">+</a>
    </div>
    <div class='w3-col w3-threequarter'>
        <a class="w3-btn w3-theme w3-card-4"  ng-show='$ctrl.shared.db.modified' ng-click="$ctrl.save()" style="width:100%">
            Save queries to the collection 'mongo-explorer.com'
            <span ng-show="$ctrl.saveProgress">
                <i class="fa fa-refresh fa-spin"></i>
            </span>
        </a>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Queries state: {{$ctrl}}
