<div class='w3-row-padding'>
    <div class='w3-col w3-quarter'>
        <div class="w3-card-4 w3-navbar">
            <div 
                class='w3-row-padding w3-padding-4 w3-container pointer w3-border-bottom'
                ng-repeat="query in $ctrl.shared.db.inventory.queries | orderBy: query.name"
                ng-class="$index == $ctrl.shared.db.selectedQueryIndex ? 'w3-theme w3-text-white' : 'w3-white w3-text-theme grey-hover'"
                ng-click="$ctrl.shared.selectQuery($index)">

                <div 
                    ng-click="$ctrl.deleteQuery($index)" 
                    class="w3-col w3-right"
                    style="width:16px"
                    ng-class="{'w3-disabled': $ctrl.shared.isProgress()}"
                    >
                    &times;
                    
                </div>
                <div class='w3-rest'>
                    {{query.name}}
                </div>
            </div>
        </div>
        <br>
        <a class="w3-btn w3-theme w3-card-4 grey-hover" ng-class="{'w3-disabled': $ctrl.shared.isProgress()}" ng-click="$ctrl.addQuery()" style="width:100%">
            &#9547;        
        </a>
        <br>        
        <br>
        <a class="w3-btn w3-theme w3-card-4"  ng-show='$ctrl.shared.db.modified' ng-click="$ctrl.save()" style="width:100%">
            Save to collection <br> 'mongo-explorer.com'
            <span ng-show="$ctrl.shared.saveProgress">
                <i class="fa fa-refresh fa-spin"></i>
            </span>
        </a>
    </div>
    <div class='w3-col w3-threequarter'>
        <my-query shared="$ctrl.shared"></my-query>
        
    </div>
</div>
<div class='w3-container'>
    <div class='w3-card-4' ng-show="$ctrl.shared.showResult">
        <div id="resultHeader" class="w3-theme w3-padding-small">
            Result
        </div>
        <div class="" id="result" style="min-height:20px; overflow: auto; ">
            <!-- we use innerHTML to show result -->
        </div>
    </div>
    <br>
</div>