
<!doctype html>
<html lang="en"> 
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Query your MongoDB online without local installations. 
		Worry about security? We use SSL and we promise not to store your data or connection sting. 
		(We still are tracking user activity in order to provide the best user experience.) Still worry? 
		So host the app locally. It is opensource." />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="/">
	<title>MongoDB Online Data Explorer</title>
	
	<link rel="stylesheet" href="./../../css/mongo-explorer.css">
	<link rel="stylesheet" href="http://www.w3schools.com/w3css/w3.css">
	<link rel="stylesheet" href="http://www.w3schools.com/w3css/w3-theme-teal.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="./../js/helpers.js"></script>
	<script src="./../js/structures.js"></script>
	<script src="./../js/mongo-explorer.client.js"></script>
</head>
<body>
	<header class="w3-container w3-theme">
		<h1>Mongo-Explorer</h1>
	</header>
	<div class="w3-container">
		<h2>Query your MongoDB. Online. No local installations. </h2>
		<p>Worry about security? We use SSL and we promise not to store your data or connection sting. 
		Still worry? <a>Host the app</a> in your location. </p>
	</div>
	
	<div class="w3-container">
		<br>
		<div class="w3-card-2 ">
			<div class="w3-container w3-theme w3-padding-small">
				Put your connection string here:
			</div>
			<div class="w3-container w3-theme-light ">
				<input id="connectionString" style="width:100%" class="w3-code  w3-small" />
			</div>
			
		</div>
	</div>

	<div class="w3-row-padding w3-margin-top">
		<div class="w3-third">
			<div class="w3-card-2 w3-theme-light " style="min-height:180px">
				<div class="w3-container w3-theme  w3-padding-small">
					Collection
				</div>
				<div class="w3-container  w3-small">
					<br>
					<select id="collections" class="w3-select w3-white" >
						
					</select>
					<p id="connectionError" class="w3-tiny"></p>
					<a class="w3-btn w3-theme w3-small" id="refreshCollections">Refresh</a>
					<br>
					<br>
				</div>
			</div>
		</div>
		
		<div class="w3-third ">
			<div class="w3-card-2 w3-theme-light " style="min-height:180px">
				<div class="w3-container w3-theme  w3-padding-small">
					Format
				</div>
				<div class="w3-container w3-small">
					<br>
					<label class="w3-checkbox">
				      <input type="radio" name="format" value="JSON" checked>
				      <div class="w3-checkmark"></div> JSON
				    </label><br>
				    <label class="w3-checkbox">
				      <input type="radio" name="format" value="CSV">
				      <div class="w3-checkmark"></div> CSV
				    </label><br>
				    <label class="w3-checkbox">
				      <input type="radio" name="format" value="HTML">
				      <div class="w3-checkmark"></div> 
					  HTML Table
					  <span id="colLimit" class="w3-tiny"></span>
				    </label>					
				</div>
			</div>
		</div>
		
		<div class="w3-third ">
			<div class="w3-card-2 w3-theme-light " style="min-height:180px">
				<div class="w3-container w3-theme  w3-padding-small">
					Delivery
				</div>
				<div class="w3-container w3-small">
					<br>
					
					<label class="w3-checkbox">
				      <input type="radio" name="delivery" value="web" checked>
				      <div class="w3-checkmark"></div> This Web Page
				    </label><br>
				    <label class="w3-checkbox">
				      <input type="radio" name="delivery" value="file">
				      <div class="w3-checkmark"></div> File
				    </label>
					
				</div>
			</div>
		</div>
	</div>

	<div class="w3-container">
		<br>
		<div class="w3-card-2 ">
			<div class="w3-container w3-theme  w3-padding-small">
				Query
			</div>
			<div class="w3-container w3-theme-light">
				<div class="w3-small">
					<br>
					<label class="w3-checkbox">
				      <input type="radio" name="operation" value="find" checked>
				      <div class="w3-checkmark"></div> Find
				    </label>
					<a class="w3-text-theme link" href="http://docs.mongodb.org/manual/reference/method/db.collection.find/" target="_blank"><i class="fa fa-question-circle" ></i></a>
					&nbsp;
					&nbsp;
					&nbsp;
				    <label class="w3-checkbox">
				      <input type="radio" name="operation" value="aggr">
				      <div class="w3-checkmark"></div> Aggregate
				    </label>	
					<a class="w3-text-theme link" href="http://docs.mongodb.org/manual/reference/method/db.collection.aggregate/" target="_blank"><i class="fa fa-question-circle" ></i></a>
					<a style="width:200px;"class="w3-btn w3-theme w3-large w3-badge w3-right" name="run">Run</a>
					
					
					
				</div>
				<textarea style="width:100%;"  rows="12" id="query" class="w3-textarea w3-code w3-small jsHigh"/></textarea><br>
				<div class="w3-center">
					<a style="width:200px;"class="w3-btn w3-theme w3-large w3-badge w3-center" name="run">Run</a>
				</div>
				
				<br>
			</div>		
		</div>
	</div>
				
	<div class="w3-container">
		<br>
		<div class="w3-card-2 ">
			<div id="resultHeader" class="w3-container w3-theme  w3-padding-small">
				Result
			</div>
			<div id="progress" class="w3-container w3-padding">
				<i class="fa fa-refresh fa-spin w3-large w3-text-theme"></i>
				<a class="w3-btn w3-theme-d3  w3-small" id="stop">Stop</a>
			</div>
			<div class="w3-padding-small" id="result" style="min-height:20px; overflow: auto; ">
				hello
			</div>		
		</div>
	</div>
				
	<br>
				
		
		
	<footer class="w3-container w3-theme">

		<h5>--</h5>
	</footer>
		

</body>
</html>
